@import "base/base.scss";
@import "components/components.scss";
@import "pages/pages.scss";

div.interface {
  padding-bottom: 204px;
  background-color: var(--blanc);

  @include breakpoint-min(1024) {
    padding-bottom: 104px;
    padding-top: 80px;
  }
  
}

div.interface:has(.login, .accueil){
  padding-bottom: 80px;
  @include breakpoint-min(1024) {
    padding-bottom: 0;
  }
}