.titrealbumspopulaire{
    font-family: 'Gotham';
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    color: var(--grisFonce);
}

.container-albums-populaires{
    position: relative;
    display: inline-block;
    margin: 20px;
    height: 200px;
    width: 200px;
    background-color: var(--blanc);
    border-radius: 20px;
}