.titrealbumspopulaire{
    @include p;
    padding: 20px;
    color: var(--grisFonce);
    z-index: 2;
}

.container-albums-populaires{
    position: relative;
    display: inline-block;
    margin: 20px;
    height: 200px;
    width: 200px;
    background-color: var(--blanc);
    border-radius: 20px;
    
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-top: 100%;
  }
  
  .cover-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  .play-icon-populaires{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}