.titrelistedelecture{
  z-index: 2;
  padding: 20px;
  color: var(--grisFonce);
  @include h4;
}

.container-listes-de-lecture{
    position: relative;
    display: inline-block;
    margin: 20px;
    height: 200px;
    width: 200px;
    background-color: var(--blanc);
    border-radius: 20px;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-top: 100%;
  }
  
  .cover-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  .play-icon-listes-de-lecture{
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }
