.propositionchansons {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 10px;
    padding: 1rem;
    margin-bottom: 20px;
    background-color: var(--noir);
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    .left {
      display: flex;
      align-items: center;
      margin: 10px;
  
      img {
        margin-left: 5px;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  
    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      white-space: nowrap;
      // padding: 5px;
      height: 100%;
      // margin: auto;
  
      .song-name {
        @include p;
        font-weight: bold;
        margin: auto 0;
        margin-right: 10px;
      }
  
      .artist-name {
        @include psmaller;
        color: var(--grisClair);
        margin: auto 0;
        margin-right: 10px;
      }
  
      .play-icon-propositions {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        margin: 2.5px;
      }
    }
  
    .right {
      display: flex;
      align-items: center;
      padding: 5px;
  
      .like-icon,
      .add-icon {
        margin: 2.5px;
        cursor: pointer;
      }
    }
  }
  
  
  