.containersectiontitre{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 400px;
    background-color: #222C32;
    border-radius: 20px;
  
}

.titresectiontitre{
    padding: 20px;
    color: white;
}