
.tableau-de-bord{
  padding-top: 40px;

  @include breakpoint-min(640) {
    padding-top: 80px;
  }
}
.containersectiontitre {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-right: 3em ;
  height: 300px;
  width: 90%;
  max-width: 1024px;
  background: linear-gradient(
      to top,
      var(--rose) 0%,
      var(--mauve) 100%
    );
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  
  // @include breakpoint-min(640) {
  //   width: 500px;
  // }

  // @include breakpoint-min(768) {
  //   width: 600px;
  // }

  // @include breakpoint-min(1024) {
  //   width: 700px;
  // }

  @include breakpoint-min(1200) {
    border-radius: 50px;
    max-width: 1450px;
    height: 500px;
    margin-bottom: 50px;
  }
.prop{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem ;
}
  .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    color: var(--blanc);
    height: 100%;
    padding: 3em ;
    overflow-y: scroll;
    overflow-x: hidden;
    
    &::-webkit-scrollbar {
      width: 8px;
  }

  &::-webkit-scrollbar-track {
      background: var(--grisFonce);
  }

  &::-webkit-scrollbar-thumb {
      background-color: #f8f8f8;
      border-radius: 10px;
      border: 0px solid #ffffff;
  }

    .titresectiontitre2 {
      position: relative;
      @include h3;
      color: var(--blanc);
      margin-bottom: 40px;
      z-index: 30;
      max-width: 300px;
      user-select: none;
    }
    

    .play-icon {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 20px;
    }

    .small-image {
      position: absolute;
      padding: 10px;
      top: 0;
      right: 0;
      width: 200px;
      aspect-ratio: 1;
      background-size: cover;
      // z-index: 1;

      transform: translateX(20%) translateY(-20%) !important;

      img {
        width: 200px;
        height: 175px;
        overflow: hidden;
        border-radius: 100px;

        @include breakpoint-min(1024) {
          transform: scale(2);
        }
      }
    }
  }
}

