.containersectionautresoustitre{
    position: relative;
    display: inline-block;
    height: 125px;
    width: 125px;
    margin: 17px;
    background-color: #222C32;
    border-radius: 20px;
  
}

.titresectionautresoustitre{
    font-family: 'Gotham';
    font-weight: 300;
    padding: 20px;
    color: white;
    
}

.play-icon-autre-sous-titre{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}