:root {
  --rose: #fc5571;
  --mauve: #7e35e3;
  --blanc: #f8f8f8;
  --gris: #9b9b9b;
  --grisFonce: #222c32;
  --noir: #050625;
  
// // Thème 1
//   --roseDefault: #fc5571;
//   --mauveDefault: #7e35e3;
//   --blancDefault: #f8f8f8;
//   --grisDefault: #9b9b9b;
//   --grisFonceDefault: #222c32;
//   --noirDefault: #050625;

// // Thème 2
//   --bleu: #1e90ff;
//   --bleuFonce: #0000cd;
//   --blanc: #f8f8f8;
//   --gris: #9b9b9b;
//   --grisFonce: #222c32;
//   --noir: #050625;

// // Thème 3
//   --vert: #00ff00;
//   --vertFonce: #008000;
//   --blanc: #f8f8f8;
//   --gris: #9b9b9b;
//   --grisFonce: #222c32;
//   --noir: #050625;

// // Thème 4
//   --jaune: #ffff00;
//   --jauneFonce: #ffd700;
//   --blanc: #f8f8f8;
//   --gris: #9b9b9b;
//   --grisFonce: #222c32;
//   --noir: #050625;

// // Thème 5
//   --rouge: #ff0000;
//   --rougeFonce: #8b006d;
//   --blanc: #f8f8f8;
//   --gris: #9b9b9b;
//   --grisFonce: #222c32;
//   --noir: #050625;


  
}
