.playlist__recherche {
    position: fixed;
    z-index: 1000;
    bottom: 224px;

    left: 50%;
    transform: translateX(-50%);

    @include breakpoint-min(1024) {
        bottom: 144px;
    }

    & .lesplaylists__playlist__recherche__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        width: 80vw;
        max-width: 400px;
        height: 50px;

        padding: 0.4rem 2rem 0.4rem 1rem;

        border-radius: 2rem;
        border: 2px solid var(--noir);

        background-color: var(--blanc);

        transition: border 0.2s ease-in-out;
        &:has(input:focus) {
            border: 2px solid var(--mauve);

            & > div::after {
                width: 100%;
            }
        }

        & > div {
            width: 100%;
            height: 100%;
            position: relative;
            &::after {
                content: "";

                position: absolute;
                z-index: 10;
                bottom: 0;
                left: 50%;

                width: 0;
                height: 2px;
                background-color: var(--rose);
                border-radius: 2px;

                transform: translateX(-50%);

                transition: width 0.2s ease-in-out;
            }
            & input {
                position: relative;
                z-index: 10;
                width: 100%;
                height: 100%;

                // padding: 0 1rem;

                border: none;
                outline: none;

                font-size: 1.2rem;
                font-family: "Gotham";
                color: var(--noir);
                font-weight: 500;

                background-color: var(--blanc);
            }
        }
    }
}
