@mixin p {
    font-family: "Gotham";
    font-weight: 400;
    font-size: 1.125rem;
  }

  @mixin h4 {
    font-family: "Gotham";
    font-weight: 500;
    font-size: 2rem;
  }

  @mixin breakpoint-min($screen) {
    @media (min-width: #{$screen}px) {
      @content;
    }
  }

.quote-acceuil{
    font-weight: 700;
}


.containerinfo1{
    @include breakpoint-min(1200) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 150px;
       }
    

}

.containerinfo2{
    @include breakpoint-min(1200) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 150px;
       }
    

}

.containerinfo3{
    @include breakpoint-min(1200) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 150px;
       }
    

}

.container-icon-couche1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    border-bottom-left-radius: 70px;
    background-color: var(--rose);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    border-bottom-right-radius: 70px;
    background-color: var(--rose);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    border-bottom-left-radius: 70px;
    background-color: var(--rose);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sous-section1{
    width: 125px;
    height: 125px;
    border-radius: 40px;
    border-bottom-left-radius: 70px;
    background-color: var(--mauve);

    .sous-section-icon1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
}

.sous-section2{
    width: 125px;
    height: 125px;
    border-radius: 40px;
    border-bottom-right-radius: 70px;
    background-color: var(--mauve);

    .sous-section-icon2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
}

.sous-section3{
    width: 125px;
    height: 125px;
    border-radius: 40px;
    border-bottom-left-radius: 70px;
    background-color: var(--mauve);

    .sous-section-icon3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
}


.container-info-couche1,
.container-info-couche2,
.container-info-couche3 {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      var(--rose) 0%,
      var(--mauve) 100%
    );
    border-radius: inherit; /* Use the same border radius as the container */
    pointer-events: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 300px;
  height: 300px;
  background-color: var(--mauve);
  border-radius: 40px;
  border-bottom-left-radius: 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);

  @include breakpoint-min(1200) {
    width: 600px;

    &:before {
      background: linear-gradient(
        to right,
        var(--rose) 0%,
        var(--mauve) 100%
      );
    }
  }
}



.info-couche1{
    @include p;
    text-align: center;
    color: var(--blanc);
    z-index: 10000;

    @include breakpoint-min(1200) {
        padding: 20px;
        @include h4;
       }
}


.couchesinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}