@mixin h1 {
    font-family: "Gotham";
    font-weight: 900;
    font-size: 5.625rem;
  }

@mixin h3 {
    font-family: "Gotham";
    font-weight: 900;
    font-size: 3rem;
  }

  @mixin h4 {
    font-family: "Gotham";
    font-weight: 500;
    font-size: 2.25rem;
  }

  @mixin h5 {
    font-family: "Gotham";
    font-weight: 500;
    font-size: 1.1rem;
  }

  @mixin p {
    font-family: "Gotham";
    font-weight: 400;
    font-size: 1.125rem;
  }

  @mixin breakpoint-min($screen) {
    @media (min-width: #{$screen}px) {
      @content;
    }
  }

.deuxiemetitres-container {
    margin-top: 100px;
    text-align: center;
    

    

    .titre-haut{
        @include h3;
        color: var(--blanc);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: var(--rose);
        -webkit-text-stroke-width: 1.5px;
        line-height: 1px;

        @include breakpoint-min(1024) {
            @include h1;
            margin: 5px;
           }
    }
    .titre-milieu{
        @include h3;
        color: var(--noir);
        padding: 15px;

        @include breakpoint-min(1024) {
            @include h1;
            margin: 5px;
           }
    }
    .titre-bas{
        @include h3;
        color: var(--blanc);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: var(--rose);
        -webkit-text-stroke-width: 1.5px;
        line-height: 1px;

        @include breakpoint-min(1024) {
            @include h1;
            margin: 5px;
           }
    }

}

.deuxiemetitres-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  margin: 50px;
  border-radius: 50px;
  background-color: var(--rose);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      var(--rose) 0%,
      var(--mauve) 100%
    );
    pointer-events: none;
    transform: translateY(0);
    transition: transform 0.3s ease-out;
  }

  &.sticky:before {
    transform: translateY(-100%);
  }

  p {
    @include p;
    text-align: center;
    padding: 20px;
    color: var(--blanc);
    z-index: 10000;

    @include breakpoint-min(1024) {
      @include h4;
    }
  }

  @include breakpoint-min(1024) {
    width: 800px;
  }
}

  
  
  

.container-info{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.lignes-nico{
    text-align: center;
    margin: 75px;
}