div.decouverte-artist{
    display: flex;
    margin-left: 25px;
    position: relative;
    top: 500px;
}

div.decouverte-album{
    display: flex;
    margin-top: 25px;
}

div.song{
    display: flex;
    margin-top: 25px;
}

div.song div.list{
    margin-right: 15px;
}
div.songInfos div.feature-div h2{
    font-size: 1.2em; 
    margin-right: 10px;
}
div.songInfos div.nom {
    display: flex;
}