@mixin h2 {
  font-family: "Gotham";
  font-weight: 700;
  font-size: 4.375rem;
}

@mixin p {
  font-family: "Gotham";
  font-weight: 400;
  font-size: 1.125rem;
}

.logo-google {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.login-title {
  @include h2;
  margin-top: 100px;
  text-align: center;
}

.login-title2,
.login-title3,
.login-title4 {
  @include h2;
  text-align: center;
  color: var(--blanc);
  text-shadow: 2px 2px var(--rose), -2px -2px var(--rose), 2px -2px var(--rose), -2px 2px var(--rose);
  opacity: 0.5;
}

.login-title3 {
  opacity: 0.25;
}
.login-title4 {
  opacity: 0.1;
}

.login {
  text-align: center;
}

.button-wrapper {
  height: 700px;
  background-color: var(--mauve);
  padding: 94px; // Adjust padding as needed
  border-top-left-radius: 200px; // Adjust the border radius as needed
  text-align: center; // Center the content horizontally
  overflow: hidden;
}

.login-button {
  @include p;
  background-color: var(--blanc);
  color: var(--noir);
  padding: 0.75rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center; // Center the content horizontally
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px; // Adjust the margin-top value
}
