.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom right, var(--mauve), var(--rose));
  color: #fff;
}

.login-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.login-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.login-button {
  background-color: #fff;
  color: var(--mauve);
  padding: 0.75rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;

  &.google {
    &:hover {
      background-color: lighten(#7e35e3, 10%);
    }
  }

  &:hover {
    transform: translateY(-3px);
  }
}

.confirmation-button {
  background-color: var(--rose);
  color: #fff;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: darken(#fc5571, 10%);
    transform: translateY(-3px);
  }
}

