@mixin h2 {
  font-family: "Gotham";
  font-weight: 700;
  font-size: 4.375rem;
}

@mixin p {
  font-family: "Gotham";
  font-weight: 500;
  font-size: 1.125rem;
}

.logo-google {
  width: 30px;
  height: 30px;
  margin: 15px;
  filter: brightness(115%);
}

.login-title {
  @include h2;
  color: var(--blanc);
  margin-top: 100px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.login-title2,
.login-title3,
.login-title4 {
  @include h2;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px white;
  position: relative;
  z-index: 1; 
}



.login-title4 {
  position: absolute;
  left: 10%;
  transform: translateX(-50%);
  margin-top: -5px;
  z-index: 0;
}

.login {
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    top: -50%;
    left: 0;
    content: "";
    width: 100vw;
    height: 1000vh;
    background-color: var(--rose);
    z-index: 0;
  }
}

.button-wrapper {
  height: 100%;
  background-color: var(--mauve);
  padding: 95px 95px 0px 95px;
  border-top-left-radius: 200px;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  @include p;
  background-color: var(--blanc);
  color: var(--grisFonce);
  padding: 0.75rem;
  border-radius: 20px;
  box-shadow: 8px 8px 8px  rgba(255, 255, 255, 0.1);
  margin-top: 100px;
  z-index: 2;
  border: 1px white solid;
}
