.playbar__inner__left__info {
    & span:nth-child(1) {
        animation: animationtitrelecteur;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    & span:nth-child(2) {
        animation: animationartistelecteur;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes animationtitrelecteur {
    0% {
        left: 0;
    }
    50% {
        left: 0;
    }
    100% {
        left: -120%;
    }
}
@keyframes animationartistelecteur {
    0% {
        left: 0;
    }
    50% {
        left: 0;
    }
    100% {
        left: -120%;
    }
}
