.arrowPlaybar{
    position: absolute;
    bottom: 100%;
    right: 0;

    transform: translate(-50%, -50%);

    &:hover{
        transform: translate(-50%, -50%) scale(1.1) !important;  
        color: var(--rose) !important;
        fill: var(--rose) !important;
    }
}