.chansonssuivantes {
    // position: absolute;
    right: 0;

    width: calc(100vw - 20px);
    margin: 0 auto;

    overflow-x: hidden !important;

    @include breakpoint-min(1200) {
        width: calc(65vw - 20px) !important;
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    // glider
    & .glider-contain {
        overflow-x: hidden !important;
        ::-webkit-scrollbar {
            display: none;
        }
        & .glider {
            height: 100% !important;

            overflow-x: scroll;
            overflow-y: hidden;

            padding: 0 3rem;

            @include breakpoint-min(1200) {
                padding-left: 100px;
            }

            &:has(*.center) .glider-track > .chansonsuivante.center {
                z-index: 90;

                opacity: 1;

                transform: scale(1.2);
            }

            .glider-track {
                height: 320px;

                gap: 1rem;
                justify-content: start !important;

                @include breakpoint-min(1200) {
                    height: 450px;
                    grid-area: 1rem;
                }

                & .chansonsuivante {
                    position: relative;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 100% !important;
                    aspect-ratio: 1/1 !important;

                    opacity: 0.5;
                    transition:
                        opacity 0.3s ease-in-out,
                        transform 0.3s ease-in-out;
                    z-index: 0.5s ease-in-out;

                    cursor: pointer;

                    &:hover .chansonsuivante__cover img {
                        transform: scale(1.1);
                    }

                    &.chansonsuivante:nth-last-child(2).center + .chansonsuivante:last-child {
                        z-index: 90;

                        opacity: 1 !important;

                        transform: scale(1.2);
                    }

                    &.chansonsuivante:nth-last-child(2).center {
                        transform: scale(1);
                    }
                    &:has(+ .chansonsuivante.center[data-gslide="1"]) {
                        z-index: 100;

                        opacity: 1;

                        transform: scale(1.2);
                    }
                    &:nth-child(2).center {
                        opacity: 1 !important;
                    }

                    &.chansonsuivante.center[data-gslide="1"] {
                        opacity: 1;
                        transform: scale(1);
                    }

                    & .chansonsuivante__inner {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;

                        position: relative;
                        width: 100% !important;
                        aspect-ratio: 1/1;
                        max-width: 200px;

                        border-radius: 40px;

                        overflow: hidden;

                        box-shadow: -2px 4px 10px 0px rgba(0, 0, 0, 0.726);

                        @include breakpoint-min(1200) {
                            max-width: 275px;
                        }

                        .chansonsuivante__cover {
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            left: 0;

                            width: 100%;
                            height: 100%;

                            overflow: hidden;

                            & img {
                                width: 100%;
                                aspect-ratio: 1/1;
                                object-fit: cover;
                                transition: transform 0.1s ease-in-out;

                                filter: brightness(50%) grayscale(50%);
                            }
                        }

                        & .chansonsuivante__info {
                            position: absolute;
                            top: 50%;
                            left: 50%;

                            display: flex;
                            flex-direction: column;

                            width: 100%;

                            @include h5;
                            color: var(--blanc);
                            text-align: center;
                            transform: translate(-50%, -50%);

                            & span{
                                &:hover{
                                    color: var(--mauve);
                                }
                                transition: all 0.1s ease-in-out;
                            }

                            & > :first-child {
                                margin-bottom: -0.5rem;
                                font-weight: 700;
                                font-size: 1.5em;



                                @include breakpoint-min(768) {
                                    font-size: 1.8em;
                                }

                                @include breakpoint-min(1200) {
                                    font-size: 2em;
                                }
                            }

                            & > :last-child {
                                font-weight: 400;
                                font-size: 0.8em;

                                @include breakpoint-min(768) {
                                    font-size: 1em;
                                }


                                @include breakpoint-min(1200) {
                                    font-size: 1.2em;
                                }
                            }
                        }

                        & .chansonsuivante__icones {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            width: 100%;

                            padding: {
                                top: 0.5rem;
                                bottom: 0.5rem;
                                left: 1rem;
                                right: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
