.playbarfull {
    position: relative;
    z-index: 1;
    width: 100%;

    background-color: var(--blanc);
    & .playbarfull__inner {
        width: 100%;
        height: 100%;
        & .infoChanson {
            display: flex;
            flex-direction: column;

            padding: 1rem 1rem 0 3rem;

            width: 100%;

            @include breakpoint-min(768){
                padding: 1rem 1rem 0 4rem;
            }

            @include breakpoint-min(1024){
                padding: 1rem 1rem 0 6rem;
            }

            @include breakpoint-min(1200){
                width: calc(58vw - 20px);
                margin-left: auto;
                padding: 1rem 0 0 0;
            }

            & .titreChanson {
                @include h2;

                padding: 0;
                margin: 0;

                color: var(--mauve);
            }

            & .artisteChanson {
                @include h4;

                padding: 0;
                margin: 0;

                color: var(--gris);
            }
        }

        & .animationLecteur {
            position: relative;
            height: 15vh;
            & .frequence {
                position: relative;
                top: 0;
                left: 0;

                width: 100vw;
                height: 100px;

                background-color: var(--mauve);
            }
        }

        & .cover {
            position: absolute;
            top: 100%;
            left: 50%;
            z-index: 2000;

            display: flex;

            justify-content: center;
            align-items: center;

            width: 150%;
            aspect-ratio: 1;
            max-width: 1200px;

            transform: translateX(-50%) translateY(-10%);

            border-radius: 50% 50%;

            overflow: hidden;

            @include breakpoint-min(1200){
                top: 50%;
                left:0;
                right: 100%;
                transform: translateX(-70%) translateY(-50%);
            }

            & img {
                width: 100vw;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
