.sliderplaybarfull {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 2000;

    display: flex;

    justify-content: center;
    align-items: center;

    width: calc(150% + 150px);
    aspect-ratio: 1;
    max-width: 1350px;

    transform: translateX(-50%) translateY(calc(-10% - 37.5px));

    border-radius: 50%;

    @include breakpoint-min(1200){
        top: 50%;
        left:0;
        right: 50%;
        transform: translateX(calc(-70% + 37.5px)) translateY(-50%) rotate(90deg);
    }

    .radial-slider {
        position: relative;
        z-index: 1;
        width: 100%;
        aspect-ratio: 1;
        background-color: var(--gris);
        border-radius: 50%;

        & .radial-slider__input {
            position: absolute;
            z-index: 4;

            top: 0;
            left: 50%;

            width: 85vw;
            max-width: 680px;

            user-select: none;

            opacity: 0;
            &::-moz-range-thumb {
                -webkit-appearance: none;
                appearance: none;
                background-color: var(--noir);
                //clip-path: polygon(0 46%, 100% 45%, 100% 60%, 0 61%)
                height: 100%;
                width: 50%;
                padding: 0;
                cursor: pointer;
                opacity: 1;
            }
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                background-color: var(--noir);
                //clip-path: polygon(0 46%, 100% 45%, 100% 60%, 0 61%)
                height: 100%;
                width: 50%;
                padding: 0;
                cursor: pointer;
                opacity: 1;
            }
            &::-webkit-slider-runnable-track {
                width: 100%;
                height: 40px;
                cursor: pointer;
                background: #3071a9;
            }
            &::-moz-range-track {
                width: 100%;
                height: 40px;
                cursor: pointer;
            }
        }

        & .radial-slider__tail {
            position: absolute;
            top: 50%;
            left: 50%;

            width: 100%;
            height: 100%;

            border-radius: 50%;
            transform: translateY(-50%) translateX(-50%) rotate(-90deg);

            user-select: none;

            & .radial-slider__tail-inner {
                position: relative;

                width: 100%;
                height: 100%;

                & .radial-slider__tail-inner__progress {
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    width: calc(100% - 20px);
                    aspect-ratio: 1;

                    background-color: var(--blanc);

                    border-radius: 50%;

                    transform: translate(-50%, -50%);
                }
            }
        }

        & .radial-slider__thumb-container {
            position: absolute;
            top: 0;
            left: 50%;
            z-index: 1;
            user-select: none;

            translate: -50% 0;

            & .radial-slider__thumb {
                position: relative;
                z-index: 2;
                width: 30px;
                height: 30px;

                border-radius: 50%;

                background-color: var(--noir);

                user-select: none;
                // & .radial-slider__thumb-shadow {
                //     position: absolute;
                //     z-index: -2;
                //     top: 0;
                //     right: 0;
                //     bottom: 0;
                //     left: 0;
                //     background-color: #46344e;
                //     border-radius: 50%;
                //     filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.3));
                // }

                &::after {
                    top: auto;
                    bottom: 11px;

                    user-select: none;
                }
            }
        }
    }
}
