.titreplaylist{

    & .titreinner  {
        animation: animationtitre1;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    & .titreinner {
        animation: animationtitre;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}


@keyframes animationtitre1 {
    0% {
        opacity: 0;
        left: 0;
    }
    2% {
        opacity: 1;
    }
    80% {
        left: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        left: -100%; 
        opacity: 0;
    }
}
@keyframes animationtitre {
    0% {

        left: 0;
    }

    80% {
        left: 0;
    }

    100% {
        left: -100%; 
    }
}

