.sliderplaylist {
    width: 100vw;
    margin: 0 auto;

    overflow-x: hidden !important;

    background-color: var(--gris);

    padding: 1rem 0;
    & .glider-contain {
        overflow-x: hidden !important;
        ::-webkit-scrollbar {
            display: none;
        }

        & .glider {
            height: 100% !important;

            overflow-x: scroll;
            overflow-y: hidden;

            padding: 0rem 0;

            .glider-track {
                height: 150px;

                gap: 1rem;
                justify-content: start !important;

                margin: 0 auto;


                @include breakpoint-min(680){
                    height: 200px;
                }
                @include breakpoint-min(840){
                    height: 250px;
                }
                @include breakpoint-min(1036){
                    height: 300px;
                }

                .itemplaylist {

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    & .wrapperitem {
                        position: relative;
                        
                        width: 100% !important;
                        aspect-ratio: 1;
                        max-width: 300px;
                        overflow: hidden;
                        border-radius: 2rem;

                        & > * {
                            position: absolute;
                        }

                        & img:nth-of-type(1) {
                            top: 0;
                            left: 0;

                            width: 50%;
                            aspect-ratio: 1;
                            object-fit: cover;
                        }

                        & img:nth-of-type(2) {
                            top: 0;
                            right: 0;

                            width: 50%;
                            aspect-ratio: 1;
                            object-fit: cover;
                        }

                        & img:nth-of-type(3) {
                            bottom: 0;
                            left: 0;

                            width: 50%;
                            aspect-ratio: 1;
                            object-fit: cover;
                        }

                        & img:nth-of-type(4) {
                            bottom: 0;
                            right: 0;

                            width: 50%;
                            aspect-ratio: 1;
                            object-fit: cover;
                        }

                        & svg{
                            position: absolute;
                            bottom: 1rem;
                            right: 1rem;
                        }
                    }
                }
            }
        }
    }
}
