@import "sliderplaylist.scss";
@import "itemplaylist.scss";
@import "headerplaylist.scss";
@import "itemchanson.scss";
@import "animationtitreplaylist.scss";
@import "itemplaylistfirst.scss";

.lesplaylists__playlist {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;

    padding-bottom: 6rem;
    margin-top: 4rem;

    @include breakpoint-min(1024) {
        padding-bottom: 3rem;
        margin-top: 6rem;
    }

    & .lesplaylists__playlist__inner__chansons {
        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 1024px;
        & .lesplaylists__playlist__inner__chansons__infos {
            position: relative;

            display: grid;
            grid-template-columns:
                2rem
                0.5rem
                5rem
                1rem
                1fr
                1rem
                1fr
                1rem
                1fr
                1rem
                72px
                0.5rem;

            // width: 100%;
            max-width: 1024px;

            padding: 0 3rem 0.5em;
            margin-bottom: 1em;

            font-family: "Gotham";
            font-size: 0.8rem;
            color: var(--gris);
            font-weight: 400;
            &:after {
                content: "";

                position: absolute;
                z-index: 10;
                bottom: 0;
                left: 50%;

                width: calc(270px - 2rem);
                width: 80%;
                height: 2px;
                background-color: var(--rose);
                border-radius: 2px;

                transform: translateX(-50%);
            }

            & .chansons__infos__number {
                grid-column: 1/2;
            }

            & .chansons__infos__titre {
                grid-column: 5/6;
            }

            & .chansons__infos__album {
                grid-column: 7/8;
            }

            & .chansons__infos__duree {
                grid-column: 9/10;
            }
        }
    }

    & .separateur {
        width: 100%;

        font-size: 2em;
        font-weight: 700;
        color: var(--rose);
        text-align: center;

        overflow: hidden;
        user-select: none;
        & > span {
            position: relative;
            &::before {
                content: "";

                position: absolute;
                top: 50%;
                left: 0;

                display: block;
                width: 50px;
                height: 2px;

                border-radius: 2px;
                background-color: var(--rose);

                transform: translate(calc(-100% - 1rem), -50%);

                @include breakpoint-min(640) {
                    width: 100px;

                    transform: translate(calc(-100% - 2rem), -50%);
                }

                @include breakpoint-min(768) {
                    width: 150px;

                    transform: translate(calc(-100% - 3rem), -50%);
                }
            }

            &::after {
                content: "";

                position: absolute;
                top: 50%;
                right: 0;

                display: block;
                width: 50px;
                height: 2px;

                border-radius: 2px;
                background-color: var(--rose);

                transform: translate(calc(100% + 1rem), -50%);

                @include breakpoint-min(640) {
                    width: 100px;

                    transform: translate(calc(100% + 2rem), -50%);
                }

                @include breakpoint-min(768) {
                    width: 150px;

                    transform: translate(calc(100% + 3rem), -50%);
                }
            }
        }
    }
}
